
body{
  margin: 0;
  padding: 0;
}

.pageWraper{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  margin:0;
  padding:0;
  background-image:url("https://mie999source-1256286965.cos.ap-chengdu.myqcloud.com/mie_icon/user/user_background.jpg"); 
  background-repeat:round;
  background-color: black;
  text-align: center;
  h1{
    font-size: 35px;
  }
  p{    
    font-size: 16px;
  }
}

.rowWraper{
  width: 100%;
}

.headWraper{
  width: 630px;
  height: auto;
  color: white;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  h1{
    color:white;
  }
}

.test{
  background: #00b38a;
}

.info{
  width: 570px;
  height: auto;
  margin: 0 auto ;
  background: white;
  border-radius: 8px ;
 
}

.basic_info{
  width: 100%;
  margin-top:15px;
  text-align: left;
  padding-left: 25px;
}


.input_info{
  background: #eee;
  padding-top: 20px;
  margin-top: 5px;
  border-radius: 0 0 8px 8px;;
}

.infomation{
  color: red;
}

.roundIcon{
  margin-top:15px;
  border-radius:15%;
  opacity: 1;
  margin-right: 10px;
}

.userInfo{
  margin:0 25px;
  width: 520px;
  margin-bottom: 20px;
  border: 3px solid #ddd;
}

.submit{
  margin:0 25px;
  width: 520px;
  margin-bottom: 20px;
} 

.otherPatten{
  width: 570px;
  margin: 30px auto;
}

.otherPattenButton{
  width: 120px;
  margin:0 12.5px 12px 0;
  margin:3px;
}

.dis{
  color: white;
  margin-bottom: 10px;
}

.thite{
  color: white;
}